extends ./layout.pug

block subContent

        div(class="body")
            form(hx-get="/organizations" hx-target=".page")
                div(class="search-bar-container")
                    div(class="input-container")
                        p(class="form-label") Search
                        input.edit(class="secondary-shadow" type="text" name="searchTerm" placeholder="Organization name...")


            div(class="organizations-list-container")
                - if(organizations.length === 0)
                    div(class="empty-organizations-list")
                        p Oops! It looks like you don't have any organizations!
                        p(id="create-organization-link") Create one here

                - else
                    div(class="organizations-list")
                        - for(let i = 0; i < organizations.length; i++)
                            - const organization = organizations[i];
                            
                            div(class="organization")
                                div(class="organization-top")
                                    p(class="organization-name clickable text-hover" hx-get=`/organizations/show/${organization.id}` hx-target=".page") #{organization.name}
                                    p(class="organization-org") #{organization.subscriptions[0].subscriptionTier.name}
                                
                                p(class="organization-description soft-text") Filler description for organization - this should be number of members and projects

                            - if(i < organizations.length - 1)
                                div(class="vertical-list-divider")

                    
                    
                    div(class="pagination")
                        - const pageNums = [curPage];
                        
                        - if(curPage > 1)
                            - pageNums.unshift(curPage - 1);
                        - if(curPage < numPages)
                            - pageNums.push(curPage + 1);

                        div(class="pagination-left")
                            - let hxGetLeftArrowUrl = `/organizations?curPage=${Math.max(curPage - 1, 1)}`;
                            - if(searchTerm) hxGetLeftArrowUrl += `&searchTerm=${searchTerm}`;
                            button(class="clickable text-hover" hx-get=hxGetLeftArrowUrl hx-target=".page") <

                        div(class="pagination-center")
                            - for(const pageNum of pageNums)
                                - let className = "page-num clickable text-hover";
                                - if(pageNum === curPage)
                                    - className += " current-page-num";
                                
                                - let hxGetPageUrl = `/organizations?curPage=${pageNum}`;
                                - if(searchTerm) hxGetPageUrl += `&searchTerm=${searchTerm}`;
                                p(class=className hx-get=hxGetPageUrl hx-target=".page") #{pageNum}

                        div(class="pagination-left")
                            - let hxGetRightArrowUrl = `/organizations?curPage=${Math.min(curPage + 1, numPages)}`;
                            - if(searchTerm) hxGetRightArrowUrl += `&searchTerm=${searchTerm}`;
                            button(class="clickable text-hover" hx-get=hxGetRightArrowUrl hx-target=".page") >