extends ../users/lobby.pug

block mainContent

    //- div(class="lobby-main primary-color outline")
    div(class="lobby-main primary-color")
        div(class="header")
            div(class="left")
                p(class="header-segment") #{user.userName}
                p(class="header-segment-separator") ->
                p(class="header-segment") Projects
            div(class="right")
                p(class="clickable text-hover" hx-get="/projects/new" hx-target=".page") New Project
        div(class="body")
            form(hx-get="/projects" hx-target=".page")
                div(class="search-bar-container")
                    div(class="input-container")
                        p(class="form-label") Search
                        input.edit(class="secondary-shadow" type="text" name="searchTerm" placeholder="Project name...")


            div(class="projects-list-container")
                - if(projects.length === 0)
                    div(class="empty-projects-list")
                        p Oops! It looks like you don't have any projects!
                        p(id="create-project-link") Create one here

                - else
                    div(class="projects-list")
                        - for(let i = 0; i < projects.length; i++)
                            - const project = projects[i];
                            
                            div(class="project")
                                div(class="project-top")
                                    p(class="project-name") #{project.name}
                                    p(class="project-org") #{project.organization.name}
                                
                                p(class="project-description") Limiting to #{project.callLimit} calls every #{project.timeFrame.name.toLowerCase()}

                            - if(i < projects.length - 1)
                                div(class="vertical-list-divider")

                    div(class="pagination")
                        - const pageNums = [curPage];
                        
                        - if(curPage > 1)
                            - pageNums.unshift(curPage - 1);
                        - if(curPage < numPages)
                            - pageNums.push(curPage + 1);

                        div(class="pagination-left")
                            - let hxGetLeftArrowUrl = `/projects?curPage=${Math.max(curPage - 1, 1)}`;
                            - if(searchTerm) hxGetLeftArrowUrl += `&searchTerm=${searchTerm}`;
                            button(class="clickable text-hover" hx-get=hxGetLeftArrowUrl hx-target=".page") <

                        div(class="pagination-center")
                            - for(const pageNum of pageNums)
                                - let className = "page-num clickable text-hover";
                                - if(pageNum === curPage)
                                    - className += " current-page-num";
                                
                                - let hxGetPageUrl = `/projects?curPage=${pageNum}`;
                                - if(searchTerm) hxGetPageUrl += `&searchTerm=${searchTerm}`;
                                p(class=className hx-get=hxGetPageUrl hx-target=".page") #{pageNum}

                        div(class="pagination-left")
                            - let hxGetRightArrowUrl = `/projects?curPage=${Math.min(curPage + 1, numPages)}`;
                            - if(searchTerm) hxGetRightArrowUrl += `&searchTerm=${searchTerm}`;
                            button(class="clickable text-hover" hx-get=hxGetRightArrowUrl hx-target=".page") >