extends ./layout.pug

block subContent

    p(class="subheader") Create a new project

    div(class="create-project-form-container")
        form(class="standard-form create-project-form" hx-post="/projects/create" hx-target=".page")
            
            div(class="dropdown-input-container")
                p(class="form-label") Org
                select(class="org-dropdown primary-button secondary-shadow clickable" name="orgName")
                    - for(let i = 0; i < organizations.length; i++)
                        - const org = organizations[i];
                        - if(i === 0)
                            option(selected) #{org.name}
                        - else
                            option() #{org.name}

            div(class="input-container")
                p(class="form-label") Name
                input.edit(class="secondary-shadow" type="text" name="name" value=name placeholder="Project Name")

            div(class="input-container")
                p(class="form-label") Call Limit
                input.edit(class="secondary-shadow" type="text" name="callLimit" value=name placeholder="10, 100, ...")

            div(class="dropdown-input-container")
                p(class="form-label") Timeframe
                select(class="org-dropdown primary-button secondary-shadow clickable" name="timeFrameName")
                    - for(let i = 0; i < timeframes.length; i++)
                        - const timeframe = timeframes[i];
                        - if(i === 0)
                            option(selected) #{timeframe.name}
                        - else
                            option() #{timeframe.name}
                

            button(class="submit-button secondary-color secondary-shadow clickable")
                p Submit
            
            p(class="form-error-message") #{errMessage}

    script.
        